@font-face {
    font-family: Bagel;
    src: url('BagelFatOne-Regular.ttf');
}
@font-face {
    font-family: Cygnet;
    src: url('Cygnet.ttf');
}
body{
    position: fixed;
    overflow-x:hidden;
    overflow-y:auto;
    width: 100vw;
    height: 100vh;
    gap:0px !important;
    scrollbar-width: none; 
}


#app.advent{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-top: 200px;
    position: relative;

}
.advent .svg-container{
    width: fit-content;
}

.face{
    z-index: 10;
    position: absolute;
}

.advent .plot-container{
    top: 20px;
    position: relative;
    gap: 20px;
    max-width: 800px;
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    align-items: center;
    height:100%;
    scrollbar-width: none; 
    overflow: auto;

    padding:0px;
    padding-bottom: 300px;
}

.day-label{
    font-size:10px;
    font-weight: 100;
    text-align: center;

    font-family:'Courier New', Courier, monospace
}
.cal-num-label{
    fill: black !important;
}

.advent-header{
    color: black;
    width: 100vw;
    position: fixed;
    background-color: #F7F7F0;
    top: 0px;
    border-bottom: .6px solid black;
    padding: 10px 20px;
    gap: 15px;

    display: flex;
    flex-direction: column;
    
}

.advent-header h1{
    color: #000;
    text-align: center;
    font-family: "Cygnet";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height:40px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    letter-spacing: -1.5px;

    /* left: 50%;
    transform: translate(-50%,50%);
    text-anchor:middle; */
    
}

.header-small-font{
    position: relative;
    padding: 5px 13px;
    left: 0px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-small-font h5{
    color: black;
    font-family: Cygnet;
    font-size: 10px;
    width: fit-content;
    letter-spacing: 1px;
   

}
.advent-header h4 {
    color: #000;
    font-family: "Courier New";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
}
.advent-header h4 {
    font-size: 8px;
    transform-origin: right bottom;
    right: 0px;
    top: 10px;
    letter-spacing: 2px;
    width: 100%;

    text-align: center;

}

.advent-header h3{
    font-family: Cygnet;
    color: black;
    top: 8px;
    letter-spacing: 2px;

    position: relative;
    width: fit-content;
    text-align: center;
    

}
.highlight-container{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    gap: 20px;
    position: relative;
    max-width: 800px;
}

.barchart-title{
    font-size: 14px;
    stroke: none;
    font-weight: 100;
    width: fit-content;
}
.plot-container svg{
    flex-shrink:0;
}

.single-puzzle-stats-container{
    display: flex;
    flex-direction: row;
    gap: 0px;
    position: relative;

}

.round{
    border-radius: 50%;
}

.highlight-container p{
    font-size:8px;
}

.highlight-container .text-container{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 30;
    top:0px;
    left:0px;
    gap: 20px;
    background-color: #f7f7f08e;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);

}

.card{
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: #F7F7F0;
    gap: 40px;
    padding: 50px 30px;
    min-width:200px;
    width: fit-content;
    max-width:600px;
    height: fit-content;
    max-height: 80vh;
    overflow-y: auto; 
    margin-bottom: 100px;
    scrollbar-width: none;
}
@media (max-width: 768px) {
    .card {
        max-width: 90vw;
    }
}
.card .face{
    position:relative;
    border:1px solid black;
    border-radius: 50%;
}
.card h2{
    font-weight: 100;
    font-size: 14px;
}


.card h3{
    font-weight: 100;
    font-size: 12px;
}

.card p{
    font-size:8px;
}

.flex-col{
    display: flex;
    flex-direction:column;
    gap: 10px;
    width: 100%;
    height: 100%;

}
.flex-row{
    display:flex;
    flex-direction:row;
    gap: 10px;
    width: 100%;
    height: 100%;

}

.advent .legend-container{
    position: fixed;
    background-color: #F7F7F0;
    bottom: 0px;
    padding: 0px;
    width: 100vw;
    gap: 0px;
    border-top:1px solid black;
    overflow-x:auto;
    overflow-y:hidden;
    align-items:center;
    justify-content: center;
    scrollbar-width: none;
}

.advent .legend-container.side{
    width: fit-content;
    overflow-x:hidden;
    overflow-y:auto;
    min-width: 50px;
    max-height: 80vh;
    height: fit-content;
    position: fixed;
    background-color: #F7F7F0;
    top: 20vh;
    left: 0px;
    display:flex;
    flex-direction:column;
    gap: 20px;
    scrollbar-width: none;

    border:.5px solid black;
}