input[type="radio"] {
    display: none; /* Hide the native radio button */
}
label.radio-custom {
display: flex;
flex-direction: row;
gap: 10px;
width: 100%;
}

.radio-value {
    font-size: 12px;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    position: relative;
    top:-2px;
}

.radio-button {
display: flex;
cursor: pointer;
width: 10px;
height: 10px;
border: 0.8px solid black;
border-radius: 20px;
}


input[type="radio"]:checked + .radio-button {
background-color: black;
}

 #time-options{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;


}


#view-options{
    display: flex;
    flex-direction: row;
    gap: 0px;
    border-bottom: .8px solid black;
    align-self: center;
    width: 100%;

}
#view-options label.radio-custom {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow:hidden;
    border: .5px solid black; /* Black border around the tab */
    /* border-radius: 4px; */
    background-color: inherit; /* Unselected state is white */
    transition: all 0.3s ease; /* Smooth transition for state change */
    font-family: 'Courier New', Courier, monospace;
}
#view-options .radio-value{
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 8px 20px;

}


#view-options input[type="radio"]:checked  +.radio-value{
    color: white;
}

#view-options input[type="radio"]:checked  +.radio-value{
    color: white;
    background-color: black;
}




#view-options label.radio-custom:hover, #view-options label.radio-custom:hover .radio-value {
   text-decoration: underline;
   font-style: italic;
}